* {
    font-family: 'PT Serif', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 60em;
    margin: 0 auto;
    background-color: #fffff5;
}



@media all and (max-width: 62em) {
    body {
	width: auto;
        margin: 0 1em;
    }
}

main {
    flex: 1;
    font-size: 110%;
    color: #222;
}

#footer {
    font-size: 80%;
    color: #808080;
    margin-top: 10vh;
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
}

a, a:visited {
    color: #222;
    background-color: #e5e5e5;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #dcdcdd;
}

a:active {
    background-color: #e5e5e5;
}

a.clicked {
    cursor: default;
    background-color: transparent;
}

a[rel="external"], a[rel="external"]:visited {
    background-color: transparent;
    color: #3366dd;
    text-decoration: underline;
}

#footer a[rel="external"], #footer a[rel="external"]:visited {
    background-color: transparent;
    color: #808080;
    text-decoration: underline;
}

span {
    display: none;
}

.off{
    display: none;
}
.on {
    display: inline;
}
p.on {
    display: block;
}
