* {
    font-family: 'PT Serif', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 60em;
    margin: 0 auto;
    background-color: #fffff5;
}

main {
    flex: 1;
    font-size: 110%;
    color: #222;
}

footer {
    font-size: 80%;
    color: #808080;
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
}

a, a:visited {
    color: #222;
    background-color: #dddddd;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #cdcdcd;
}

a:active {
    background-color: #dddddd;
}

a.clicked {
    cursor: default;
    background-color: transparent;
}

a[rel="external"], a[rel="external"]:visited {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

footer a[rel="external"], a[rel="external"]:visited {
    background-color: transparent;
    color: #808080;
    text-decoration: underline;
}

span {
    display: none;
}

/* Dev only */
.off{
    display: none;
}
.on {
    display: inline;
}
p.on {
    display: block;
}
